body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding-top: 60px; /*evitar sobreposição da navbar */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a9d8f; /* Cor do eCycle */
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #e9c46a; /* Cor do eCycle */
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 0 auto; 
}

h1 {
    margin-bottom: 20px;
    color: #2a9d8f; /* Cor do eCycle */
}

form {
    margin-bottom: 20px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #2a9d8f; /* Cor do eCycle */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #21867a; 
}

#resultado {
    margin-top: 20px;
    font-size: 16px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.card {
    background-color: #e9c46a;
    color: #333;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.detalhes {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
